:root {
  --bg: #333;
  --bg-dark: #272822;
  --main: white;
  --primary: #a6e22e;
  --primary-dark: #67852d;
  --border: rgb(126, 126, 126);
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 25px;
  background-color: var(--bg);
  color: var(--main)
}

@media (max-width: 800px) { body { font-size: 20px; } }
@media (max-width: 450px) { body { font-size: 16px; } }
@media (max-width: 350px) { body { font-size: 14px; } }

header { display: flex; background-color: var(--bg-dark); margin-bottom: 3em; }
header a { text-decoration: none; }
header svg { height: 1em; }
header .ticks { fill: var(--primary) }
header .ticks-background { fill: var(--primary-dark) }
@media (max-width: 600px) {
  header h1 span { font-size: 0.7em; }
}
@media (max-width: 400px) {
  header h1 span { font-size: 0.6em; }
}

footer { background-color: var(--bg-dark); padding: 1em; }
footer .current a { color: var(--main); text-decoration: none; }
footer ul { list-style-type: none; }
footer .links { width: 100%; text-align: center; }
footer .links svg { height: 2em; margin-top: 2em; }
@media (min-width: 1000px) {
  footer ul { display: flex; justify-content: space-evenly; }
}

main {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3em;
}

h2 {
  margin-top: 3em;
  margin-bottom: 1em;
}

p code,
li code {
  background: var(--bg-dark);
  color: var(--primary);
  padding: .2em;
  border-radius: .5em;
  font-size: .7em;
}

pre {
  border: 1px solid var(--border);
}

a {
  color: var(--primary);
  text-decoration-style: dotted;
  text-decoration-thickness: 0.05em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid var(--border);
  padding: 0.5rem;
  text-align: left;
}

tbody tr:hover {
  background-color: var(--primary);
  color: var(--bg);
}

.chart {
  background: var(--main);
  max-width: 1000px;
  margin: auto;
}

.music-sheet {
  background-color: var(--main);
}

.graphviz-example-1 {
  margin: auto;
  max-width: 150px;
}

.mathup {
  text-align: center;
}
